<div class="container mt-4">

<h2>My Cart</h2>

<table class="table table-bordered text-center">

<thead>

<tr>
<th>Image</th>
<th>Title</th>
<th>Price</th>
<th>Quantity</th>
<th>Total</th>
<th>Action</th>
</tr>

</thead>

<tbody>

<tr *ngFor="let item of cartProducts; let i=index">

<td>
<img [src]="item.image" width="60">
</td>

<td >{{item.title}}</td>

<td>₹ {{item.price}}</td>

<td>

<button class="btn btn-danger btn-sm"
(click)="decreaseQty(i)">-</button>

<span class="mx-2">{{item.qty}}</span>

<button class="btn btn-success btn-sm"
(click)="increaseQty(i)">+</button>

</td>

<td>
₹ {{item.price * item.qty}}
</td>

<td>

<button class="btn btn-danger"
(click)="deleteProduct(i)">
Delete
</button>

</td>

</tr>

</tbody>

</table>

<h3 class="text-end">

 Total : ₹ {{total}}

</h3>

</div>