<h2 >Products List</h2>
<hr>
<div class="row">

    <div class="col-lg-3" *ngFor="let product of products">
        <a href="/product/{{product.id}}">
            <div class="card" style="height: 380px; margin: 5px;">
                <img src="{{product.image}}" alt="{{product.title}}" class="card-img-top" height="260">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">
                        {{product.price}} - {{product.mrp}}
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>