

<!-- HERO SECTION -->
<div class="container-fluid p-0 position-relative">

  <!-- Background Image -->
  <img src="assets/images/home1.jpg"
       class="img-fluid w-100 vh-100 object-fit-cover"
       alt="Home Banner">

  <!-- Overlay Content -->
  <div class="position-absolute top-50 start-50 translate-middle text-center text-white">

    <h1 class="display-4 fw-bold text-dark">
  Step Into Style with Our Footwear Collection 
</h1>

<p class="lead text-light">
  Discover the Latest Collection
</p>

    <a routerLink="/products"
       class="btn btn-warning btn-lg mt-3">
       Shop Now
    </a>

  </div>

</div>


